body {
  background-image: url('http://dvqlxo2m2q99q.cloudfront.net/000_clients/66598/page/665981549TVhO.jpg');
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
} 
div.jumbotron {
  background-color: rgba(255, 255, 255, 0);
}
h1.display-3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  div.col-md-4 {
    background: aquamarine;
    background: rgba(0,0,0,0.4);
    color: #fff;
  }
  div.col-md-4 h2 {
    color: darkgrey;
  }
  img {
    border: 1px solid #ddd; 
    border-radius: 4px;  
    padding: 5px; 
    width: 150px;
}
  a.btn-secondary {
    background-color: dodgerblue;
    box-shadow: 5px 5px 5px grey;
  }